<h1>Welcome To The Hospital Tracking System</h1>
<br>
<%= link_to "Go To Patients Data", patients_path %>
<br>
<%= link_to "Go to Clinics", clinics_path %>
<br>
<%= link_to "Go to Medications Data", medications_path %>
